Package: com.phillipt.callconnect
Name: CallConnect
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Always know exactly when your call connects
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
